@use "../_config/" as *;
@use "sass:math";

.l-body {
	width: 100%;
	&.is-fixed{
		position: fixed;
	}
}

.l-header {

}

.l-footer {

}

.l-main{
	padding: 50px 0;
}

.l-wrapper {
	position: relative;
	width: 90%; //要変更
	margin-left: auto;
	margin-right: auto;
	@include mq(pc) {
		max-width: 1200px; //要変更
	}
}

.l-program{
	&__trigger{
		margin-bottom: 30px;
	}
	&__result{
		display: flex;
	}
	&__progress{
		width: 150px;
		margin-right: 20px;
	}
	&__score{
		width: 300px;

	}
}