<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title><%= title %></title>
<meta name="viewport" content="width=device-width" />
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="css/style.css">

<link rel="canonical" href="">
<link rel="icon" href="img/favicon.ico">
<%#<link rel="icon" href="img/favicon.svg" type="image/svg+xml">%>
<%#<link rel="apple-touch-icon" href="img/apple-touch-icon.png">%>
<meta name="description" content="ページの説明文">
<meta name="keywords" content="ページのキーワード">
<meta property="og:title" content="ページのタイトル">
<meta property="og:description" content="ページの説明文">
<meta property="og:image" content="#絶対パス#/img/og_image.png">
<meta property="og:locale" content="ja_JP">
<meta property="og:type" content="<% if(page=="home") { %>website<% } else { %>article<% } %>">
<meta name="twitter:card" content="summary_large_image">
<meta property="og:url" content="#絶対パス#/img/og_image.png">

</head>
<body>

<div class="l-body">